{% extends "AidLink/white.html" %}

{% block content %}

<div class="headerDonations">
    <br>
    <br>
    <br>
    <div class="volunteer1">Donations &</div>
    <div class="volunteer2">Fundraisers</div>
</div>
<center>
    <br><br>
<div class="navDonation">
<a href="../donorPage"><button>Donate</button></a>
<br><br>
 ----- OR ----- 
<br><br>
<a href="../donationRegisterPage"><button>Register</button></a>
</div>
</center>


<footer>
    
<div class="footnotes">
    <hr>
    You can register for raising funds or donations for someone in need. 
Or, you can click on donate to see the ones in need and shower some help.
<br><br>
“Part of being a person is about helping others.”
</div>
</footer>
{% endblock %}