{% extends "AidLink/black.html" %}

{% block content %}
<div class="logo-vol">
    aidlink
</div>

<div class="welcome">Welcome </div>
<div class="welcome2">to bring a change .</div>
<br><br>

<div class="main">
    <div class="section1">
        <br><br>
        <div class="volunteer1">Resources &</div>
    <div class="volunteer2">Medical Support</div>
        <button style="float: right;padding-right: -10%;background-color: inherit;">
            <a href="../resources">Next</a></button>
            <br>
    </div>
    <br>
    <div class="section2">
        <br><br>
        <div class="volunteer1">Donations &</div>
    <div class="volunteer2">Fundraisers</div>
        <button style="float: right;padding-right: -10%;background-color: inherit;">
            <a href="../donations">Next</a></button>
            <br>
    </div>
    <br>
    <div class="section3">
        <br><br>
        <div class="volunteer1">Volunteer &</div>
    <div class="volunteer2">Help</div>
        <button style="float: right;padding-right: -10%;background-color: inherit;">
            <a href="../volunteer">Next</a></button>
            <br>
    </div>
</div>  

    {% endblock %}
