<!DOCTYPE html>

<html>
    <head>
        
        <title>
            AidLink Covid Relief App
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/AidLink/indexWhiteStyle.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>

    {% block content %}

    {% endblock %}

    </body>
    </html>